body {
  background-color: rgba(241, 195, 217, 0.815);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(7, 59, 39);
  font-size: 1em;
}
header {
  overflow: auto;
  height: 130px;
  min-width: 850px;
}
header p, footer {
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: rgb(5, 32, 5);
  color: white;
  width: 100%;
  height: 20px;
  min-width: 800px;
}
.link a {
  margin: 10%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  text-decoration: none;
}
footer a{
  color: white;
  text-decoration: none;
  margin: 10%;
  display: inline;
}
.link a:hover, footer a:hover {
  text-decoration: underline;
}
h1 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 4em;
  font-family: 'Anton', sans-serif;
  text-align: right;
  background-color: aqua;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.418) inset 5px -5px 4px;
  letter-spacing: .03em;
  width: 100%
}
h2 {
  font-size: 2em;
  font-family: 'Anton', sans-serif;
  letter-spacing: .04em;
  margin-bottom: .3em;
  padding-left: 20px;
  text-shadow: aqua 1px 1px;
  margin-top: .5em;
}
p,ul {
  padding-left: 25px;
  line-height: 1.4;
  font-size: 1.2em;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
}
.line{
  width: 100%;
  display: flex;
}
.col1{
  width: 50%;
  min-height: 300px;
  min-width: 500px;
  padding: 20px;
  border-right: black 1px solid;
  box-shadow: green 2px 2px 1%;
}
#salmon {
  width: 100%;
  box-shadow: none;
  border-radius: none;
}
#old-man {
  width: 100px;
  float: right;
  border-radius: 15%;
  box-shadow: grey 2px 2px 3px;
  margin-left: 10px;
}
#sales-footer {
  margin-top: 20px;
}
/* table */
.table-one{
  padding: 0 3% 0 3%;
}
.table-one p {
  margin-top: .5em;
  font-size: 110%;
  width: 600px;
}
.table-one:last-of-type {
  margin-bottom: 20px;
}
table {
  width: 90%;
  background-color: rgb(196, 224, 213);
}
table, th, td { 
  border: solid black 2px;
}
td {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(7, 59, 39);
}
th {
  font-weight: bolder;
  font-size: 110%;
  background-color:  rgb(7, 59, 39);;
  color: rgb(155, 218, 204);
  border: none;
  padding: 8px;
}
td:last-child, tfoot td{
  background-color:  rgb(137, 216, 186);
  padding: 8px;
}
td:hover{
  text-decoration: underline;
}
#salmon-banner{
  float:left;
  width: 200px;
  margin: 15px 0 15px 25px;
  box-shadow: none;
  border-radius: none;
}
#frosted{
  height: 140px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
#fish-shirt {
  height: 140px;
  float: center;
  margin: 0 20px 5px 20px;
}
#cookie-cutter {
  width: 300px;
  height: 125px;
  object-fit: cover;
  float: right;
  margin-right: 80px;
  margin-top: 10px;
}
#colorful-fish {
  width: 300px;
  height: 125px;
  object-fit: cover;
  float: left;
  margin-left: 120px;
  margin-top: 20px;
}
#family {
  width: 200px;
  float: right;
  margin: 5px;
  border-radius: 15px;
}
#menu-images {
  min-width: 500px;
  overflow: auto;
  height: 160px;
}
#chinook {
  margin-top: 20px;
}
.shadow {
  border-radius: 15%;
  box-shadow: grey 2px 2px 3px;
}
#hours {
  width: 250px;
}
#enter-new-location { 
  font-size: 110%;
  width: 340px;
  text-align: right;
  padding: 10px;
  margin: 10px;
  margin-left: 50px;
  border-top: 1px solid rgb(165, 165, 165);
  border-left: 1px solid rgb(165, 165, 165);
  box-shadow: inset rgb(165, 165, 165) -2px -2px 4px;
  background-color: rgba(253, 232, 232, 0.822);
}
#enter-new-location h2 {
  padding: 10px;
  margin: 0;
}
#enter-new-location input {
  margin: 3px;
}
#submit {
  width: 140px;
  font-size: 120%;
}


