body {
  background-color: rgba(241, 195, 217, 0.815);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(7, 59, 39);
  font-size: 2em;
}
header p {
  text-align: center;
  padding: 40px;
  background-color: rgb(5, 32, 5);
  color: white;
  width: 100%;
}
h1 {
  width: 100%;
}
h1, h3 {
  font-size: 3em;
  font-family: 'Anton', sans-serif;
  text-align: right;
  background-color: aqua;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.418) inset 5px -5px 4px;
  letter-spacing: .03em;
}
h3 {
  font-size: 1em;
  float: none;
  text-align: center;
  box-shadow: none;
  border: solid black 2px;
}
.data {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(7, 59, 39);
}

ul {
  padding: 10px;
  border: solid black 2px;
  width: 200px;
}
li {
  margin: 4px;
}
#num-cookies {
  text-align: center;
  display: flex;
}
